.header {}

.header__box {
  width: 100%;
  padding: 20px;
  justify-content: space-between;
}

.header__box img {
  width: 5rem;
}

.Header__right {
  justify-content: space-between;
  width: 10vw;
}

.header__left {
  justify-content: space-between;
  width: 50vw;
}

.Header__bottom {
  width: 100%;
  /* height: 10vh; */
  color: rgba(0, 0, 0, 0.445);
}

.navigation {
  width: 40vw;
  justify-content: space-evenly;
  margin-left: 100px;
}

.navigation span {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px !important;
  text-align: center;
}

.icon {
  margin-right: 10px;
  font-size: 10px !important;
}

.active {
  color: rgb(58, 58, 255);
  opacity: 1 !important;
  border-bottom: 2px solid rgb(58, 58, 255);
  text-decoration: none;
}

.Result__body {
  width: 100%;
  margin-top: 2rem;
  margin-left: 7rem;
  width: 50%;
  min-height: 100vh;
}

.Results__box {
  margin: 20px auto;
  padding: 10px 150px;
  margin-right: 32%;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  align-items: center;
}

.Result__link {
  grid-column: span 2;
}

.gridContainer>div:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  display: none;
}

.spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.spinnerVisible {
  display: flex;
}

.gridContainer>div:nth-child(2).popup {
  display: block;
  width: 350px;
  max-width: 80%;
  margin-top: 8%;
  background-color: #e9e9e9;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 35px;
  right: 100px;
  min-height:300px;
}


.image {
  max-width: 100%;
  height: auto;
}

.Results__box a,
h6 {
  margin: 15px 0;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.Result__para {
  padding: 10px 0px;
  width: 80%;
  font-size: 15px;
}

.Result__body h6 {
  font-size: 10px;
  color: rgba(26, 26, 26, 0.548);
  margin: 10px 0px;
}

.Result__Image {
  width: 600px;
  margin: 10px;
}

@media (max-width: 800px) {
  .header__box img {
    width: 7rem;
    margin: 10px 0px;
  }

  .Header__right {
    position: absolute;
    top: 10px;
    right: 10px;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
  }

  .navigation {
    width: 90vw;
    justify-content: space-evenly;
    margin-left: 0px;
  }

  .Result__body {
    width: 100vw;
    margin-top: 2rem;
    width: 90%;
    margin: 20px auto;
    min-height: 100vh;
  }

  .Results__box {
    margin: 20px auto;
    padding: 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.479);
  }

  .Result__para {
    padding: 10px 0px;
    width: 70%;
    font-size: 15px;
  }

  .Result__body h6 {
    font-size: 10px;
    color: rgba(26, 26, 26, 0.548);
    margin: 10px 0px;
  }

  a {
    color: #d3d3d3;
  }

  .image {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .Result__Image {
    height: 50%;
    width: 80%;
  }
}

;